<div class="art-outside-container>">


        
            <div class="art-content-container" >
        
              <div class="art-row-container">
        
                <div class="product-container"ng-repeat="image in images">
        
                  <div class="image1" style="background-image:url('{{image.url}}')">
                    <div class="overlay">
                      <h1>{{image.name}}</h1>
                      <h3>Buy Now</h3>
                    </div>
                  </div>
        
                    <div class="text-box">
        
                     
                      <h3>$25</h3>
        
        
                    </div>
                </div>
              </div>
            </div>
</div>
<div class="art-outside-container>">
    
        <div class="art-content-container" >
    
          <div class="art-row-container">
    
            <div class="product-container"ng-repeat="image in images2">
    
              <div class="image1" style="background-image:url('{{image.url}}')">
                <div class="overlay">
                  <h1>{{image.name}}</h1>
                  <h3>Buy Now</h3>
                </div>
              </div>
    
                <div class="text-box">
    
                 
                  <h3>$25</h3>
    
    
                </div>
            </div>
          </div>
        </div>
</div>
<div class="art-outside-container>">
    
        <div class="art-content-container" >
    
          <div class="art-row-container">
    
            <div class="product-container"ng-repeat="image in images3">
    
              <div class="image1" style="background-image:url('{{image.url}}')">
                <div class="overlay">
                  <h1>{{image.name}}</h1>
                  <h3>Buy Now</h3>
                </div>
              </div>
    
                <div class="text-box">
    
                 
                  <h3>$25</h3>
    
    
                </div>
            </div>
          </div>
        </div>
</div>